<div class="row search-container animated bounceInUp">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <input type="text" class="form-control input-search" placeholder="Search Repository" ng-model="$ctrl.search"/>
        <input type="submit" class="btn btn-primary search-button"  value="Search" ng-click="$ctrl.requestRepositories()"/>
    </div>
</div>
<div class="col-xs-12">
    <div class="alert alert-danger" ng-if="$ctrl.error">
        <strong>Error!</strong> Something is wrong when requesting those repositories..... Try again later!
    </div>
</div>
<div ng-if="$ctrl.items.length !== undefined && $ctrl.items.length === 0">No Results</div>
<github-pagination pagination="$ctrl.pagination" request-page="$ctrl.requestPage(pageUrl)" ng-if="$ctrl.items.length > 0"></github-pagination>
<github-repository ng-repeat="item in $ctrl.items" repository="item"></github-repository>
<github-pagination pagination="$ctrl.pagination" request-page="$ctrl.requestPage(pageUrl)" ng-if="$ctrl.items.length > 0"></github-pagination>

